* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial;
  font-style: normal;
}

/* Navbar */

nav {
  width: 100%;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.navigation-1 {
  height: 55px;
  background: #F0ECE7;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-1 .navigation-1_align {
  margin: auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-1 .navigation-1_align .navigation-1_left {
  display: inline-block;
}

.navigation-1 .navigation-1_align .navigation-1_left img:not(:first-child) {
  margin-left: 35px;
}

.navigation-1 .navigation-1_align .navigation-1_left img {
  margin-right: 10px;
}

.navigation-1 .navigation-1_align .navigation-1_left .location_image {
  width: 16.5px;
  height: 24px;
}

.navigation-1 .navigation-1_align .navigation-1_left .mail_image {
  width: 24px;
  height: 16.5px;
}

.navigation-1 .navigation-1_align .navigation-1_left .key_image {
  width: 23.76px;
  height: 22.57px;
}

.navigation-1 .navigation-1_align .navigation-1_right {
  float: right;
}

.navigation-1 .navigation-1_align .navigation-1_right .search_image {
  width: 19.63px;
  height: 19.63px;
  margin-right: 10px;
}

.navigation-1 .navigation-1_align .navigation-1_right span:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 7px;
}

.navigation-1 .navigation-1_align .navigation-1_right span:last-child {
  padding-left: 7px;
  color: #9B6333;
}

.navigation-2 {
  height: 73px;
  background: #272525;
  color: #ffffff;
  padding: 0;
}

.navigation-2 .navigation-2_align {
  margin: auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-2 .navigation-2_align div {
  margin: 0;
}

.navigation-2 .navigation-2_align .navigation-2_left {
  width: 20%;
}

.navigation-2 .navigation-2_align .navigation-2_middle {
  width: 60%;
}

.navigation-2 .navigation-2_align .navigation-2_right {
  width: 20%;
}

.navigation-2 .navigation-2_align h3 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: 50px;
  line-height: 67px;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.navigation-2 .navigation-2_align ul {
  margin-bottom: 0;
  text-align: center;
}

.navigation-2 .navigation-2_align ul li {
  display: inline-block;
  margin: 0 20px;
}

.navigation-2 .navigation-2_align ul li a {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
}

.navigation-2 .navigation-2_align ul li a:hover {
  cursor: pointer;
}

.home {
  color: #fff;
  height: 919px;
  overflow: hidden;
}

.home .pozadina {
  width: 100%;
  z-index: -1;
  position: absolute;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  height: 919px;
}

.home .home-container {
  margin: auto;
  width: 70%;
  padding-top: 277px;
  position: relative;
}

.home .home-container .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  margin-bottom: 10px;
}

.home .home-container .podnaslov {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 30px;
}

.home .home-container .learn_more {
  width: 198px;
  height: 59px;
  background: #9B6333;
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home .home-container .learn_more:hover {
  cursor: pointer;
}

.home .home-container .follow_us-container {
  margin-top: 379px;
}

.home .home-container .follow_us-container .follow_us {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  margin-right: 27px;
}

.home .home-container .follow_us-container .icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin-right: 34px;
}

.home .home-container .home-slider {
  width: 1000px;
  height: 351px;
  background-color: yellow;
  position: absolute;
  top: 508px;
  left: 400px;
}

.apartmants {
  height: 1233px;
  color: #383B37;
  margin: auto;
  width: 70%;
  padding-top: 60px;
}

.apartmants .apartmants-container .about_us-container {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  margin-bottom: 61px;
}

.apartmants .apartmants-container .about_us-container .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.apartmants .apartmants-container .about_us-container .podnaslov {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 30px;
}

.apartmants .apartmants-container .about_us-container .about_us {
  width: 170px;
  height: 59px;
  background: #9B6333;
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.apartmants .apartmants-container .about_us-container .about_us:hover {
  cursor: pointer;
}

.apartmants .apartmants-container .comment-container {
  width: 50%;
  padding-left: 20px;
  display: inline-block;
}

.apartmants .apartmants-container .comment-container .comment {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 22px;
}

.apartmants .apartmants-container .comment-container .comment_creator {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 1px;
}

.apartmants .apartmants-container .comment-container .comment_creator-title {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 0;
}

.apartmants .apartmants-container .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.apartmants .apartmants-container .best_apartmants {
  width: 1,764px;
  height: 732px;
  background-color: yellow;
  margin-bottom: 60px;
}

.service {
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service img {
  display: inline-block;
  position: absolute;
  z-index: -1;
}

.service .service_background {
  width: calc( 100% - 620px);
  height: 355px;
}

.service .service_maid {
  height: 620px;
  width: 620px;
  right: 0;
}

.service .service_align {
  margin: 0 auto;
  width: 70%;
}

.service .service_align .about_us-container {
  color: #fff;
}

.service .service_align .about_us-container .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  margin-top: 44px;
  margin-bottom: 10px;
}

.service .service_align .about_us-container .podnaslov {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 30px;
}

.service .service_align .about_us-container .paragraph {
  width: 674px;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 31px;
}

.service .service_align .about_us-container .learn_more-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #9B6333;
  text-decoration: none;
}

.service .service_align .about_us-container .learn_more-link .learn_more-arrow {
  margin-left: 19px;
  margin-top: 5.6px;
}

.service .service_align .feature_cards {
  margin-top: 74px;
}

.service .service_align .feature_cards .card {
  width: 254px;
  min-height: 193px;
  display: inline-block;
  vertical-align: top;
  margin-right: 39px;
}

.service .service_align .feature_cards .card img {
  z-index: 1;
  position: relative;
}

.service .service_align .feature_cards .card .card_body {
  background: #F0ECE7;
  padding: 11px 14px 21px 15px;
  min-height: 135px;
  margin-top: 5px;
}

.service .service_align .feature_cards .card .card_body h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #383B37;
}

.service .service_align .feature_cards .card .card_body .line {
  width: 100px;
  height: 1px;
  background-color: #9B6333;
  margin-top: 6px;
  margin-bottom: 4px;
}

.service .service_align .feature_cards .card .card_body p {
  font-size: 16px;
  line-height: 23px;
  color: #383B37;
}

.news {
  height: 500px;
}

.reviews {
  height: 500px;
}

.footer {
  height: 320px;
  color: #fff;
}

.footer .footer-1 {
  height: 275px;
  background: #272525;
}

.footer .footer-2 {
  height: 45px;
  background: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-2 .footer-2_align {
  margin: auto;
  width: 70%;
}

.footer .footer-2 .footer-2_align p {
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 25px;
}

.footer .footer-2 .footer-2_align .footer-2_left {
  display: inline-block;
}

.footer .footer-2 .footer-2_align .footer-2_right {
  float: right;
}

.footer .footer-2 .footer-2_align .footer-2_right p {
  font-weight: bold;
  margin-left: 38px;
}

.footer .footer-2 .footer-2_align .footer-2_right p:last-child {
  font-weight: normal;
  color: #D0D0D0;
  margin-left: 44px;
}

