* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial;
  font-style: normal;
}

nav {
  width: 100%;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.navigation-1 {
  height: 55px;
  background: #f0ece7;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-1 .navigation-1_align {
  margin: auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-1 .navigation-1_align .navigation-1_left {
  display: inline-block;
}

.navigation-1 .navigation-1_align .navigation-1_left img:not(:first-child) {
  margin-left: 35px;
}

.navigation-1 .navigation-1_align .navigation-1_left img {
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

.navigation-1 .navigation-1_align .navigation-1_left p {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.navigation-1 .navigation-1_align .navigation-1_left .location_image {
  width: 16.5px;
  height: 24px;
  margin-top: 6px;
}

.navigation-1 .navigation-1_align .navigation-1_left .mail_image {
  width: 24px;
  height: 16.5px;
  margin-top: 10px;
}

.navigation-1 .navigation-1_align .navigation-1_left .key_image {
  width: 23.76px;
  height: 22.57px;
  margin-top: 6px;
}

.navigation-1 .navigation-1_align .navigation-1_right {
  float: right;
}

.navigation-1 .navigation-1_align .navigation-1_right .search_image {
  width: 19.63px;
  height: 19.63px;
  vertical-align: top;
  margin-top: 8px;
  margin-right: 8px;
}

.navigation-1 .navigation-1_align .navigation-1_right p {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.navigation-1 .navigation-1_align .navigation-1_right span:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 7px;
}

.navigation-1 .navigation-1_align .navigation-1_right span:last-child {
  padding-left: 7px;
  color: #9B6333;
}

.navigation-2 {
  height: 73px;
  background: #272525;
  color: #ffffff;
  padding: 0;
}

.navigation-2 .navigation-2_align {
  margin: auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-2 .navigation-2_align div {
  margin: 0;
}

.navigation-2 .navigation-2_align .navigation-2_left {
  width: 20%;
}

.navigation-2 .navigation-2_align .navigation-2_middle {
  width: 60%;
}

.navigation-2 .navigation-2_align .navigation-2_right {
  width: 20%;
  text-align: right;
}

.navigation-2 .navigation-2_align .navigation-2_right button {
  width: 123px;
  height: 30px;
  background: #9B6333;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
  border-radius: 30px;
  font-weight: bold;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #fff;
}

.navigation-2 .navigation-2_align .navigation-2_right button:hover {
  cursor: pointer;
}

.navigation-2 .navigation-2_align h3 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: 50px;
  line-height: 67px;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.navigation-2 .navigation-2_align ul {
  margin-bottom: 0;
  text-align: center;
}

.navigation-2 .navigation-2_align ul li {
  display: inline-block;
  margin: 0 20px;
}

.navigation-2 .navigation-2_align ul li a {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
}

.navigation-2 .navigation-2_align ul li a:hover {
  cursor: pointer;
}

.home {
  color: #fff;
  height: 919px;
  overflow: hidden;
}

.home .pozadina {
  width: 100%;
  z-index: -1;
  position: absolute;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  height: 919px;
}

.home .home-container {
  margin: auto;
  width: 70%;
  padding-top: 277px;
  position: relative;
}

.home .home-container .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  margin-bottom: 10px;
}

.home .home-container .podnaslov {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 30px;
}

.home .home-container .learn_more {
  width: 198px;
  height: 59px;
  background: #9B6333;
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home .home-container .learn_more:hover {
  cursor: pointer;
}

.home .home-container .follow_us-container {
  margin-top: 379px;
}

.home .home-container .follow_us-container .follow_us {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  margin-right: 27px;
}

.home .home-container .follow_us-container .icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin-right: 34px;
}

.home .home-container .arrow_container {
  position: absolute;
  top: 668px;
  left: 340px;
}

.home .home-container .arrow_container .buttonLeft {
  background: none;
  border: none;
  outline: none;
}

.home .home-container .arrow_container .buttonLeft:hover {
  cursor: pointer;
}

.home .home-container .arrow_container .buttonLeft .arrow {
  width: 17.5;
  height: 29.7;
}

.home .home-container .home-slider {
  position: absolute;
  top: 508px;
  left: 400px;
}

.home .home-container .home-slider .slick-slider-1 {
  position: relative;
}

.home .home-container .home-slider .slick-slider-1 .card {
  width: 441px;
  height: 351px;
  background-color: #fff;
  display: inline-block;
}

.home .home-container .home-slider .slick-slider-1 .card .room_image {
  width: 100%;
  height: 233px;
}

.home .home-container .home-slider .slick-slider-1 .card .card_body {
  padding: 30px;
}

.home .home-container .home-slider .slick-slider-1 .card .card_body .name_and_price {
  color: #383B37;
}

.home .home-container .home-slider .slick-slider-1 .card .card_body .name_and_price .room_name {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  margin-bottom: 10px;
}

.home .home-container .home-slider .slick-slider-1 .card .card_body .name_and_price .room_price {
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  line-height: 31px;
  float: right;
  margin-top: 13px;
}

.home .home-container .home-slider .slick-slider-1 .card .card_body .view_details {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #9B6333;
  text-decoration: none;
}

.home .home-container .home-slider .slick-slider-1 .card .card_body .view_details img {
  margin-left: 18.6px;
}

.home .home-container .home-slider .slick-slider-1 .card:not(:last-child) {
  margin-right: 40px;
}

.apartmants {
  height: 1233px;
  color: #383B37;
  margin: auto;
  width: 75%;
  padding-top: 60px;
}

.apartmants .apartmants-container .about_us-container {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  margin-bottom: 61px;
}

.apartmants .apartmants-container .about_us-container .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.apartmants .apartmants-container .about_us-container .podnaslov {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 30px;
}

.apartmants .apartmants-container .about_us-container .about_us {
  width: 170px;
  height: 59px;
  background: #9B6333;
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.apartmants .apartmants-container .about_us-container .about_us:hover {
  cursor: pointer;
}

.apartmants .apartmants-container .comment-container {
  width: 50%;
  padding-left: 20px;
  display: inline-block;
}

.apartmants .apartmants-container .comment-container .comment {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 22px;
}

.apartmants .apartmants-container .comment-container .comment_creator {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 1px;
}

.apartmants .apartmants-container .comment-container .comment_creator-title {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 0;
}

.apartmants .apartmants-container .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.apartmants .apartmants-container .best_apartmants {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
}

.apartmants .apartmants-container .best_apartmants .card {
  width: 321px;
  height: 351px;
  background: #F2F2F2;
}

.apartmants .apartmants-container .best_apartmants .card .room_image {
  width: 100%;
}

.apartmants .apartmants-container .best_apartmants .card .card_body {
  padding: 26px 10px 34px 10px;
}

.apartmants .apartmants-container .best_apartmants .card .card_body .name_and_price {
  color: #383B37;
}

.apartmants .apartmants-container .best_apartmants .card .card_body .name_and_price .room_name {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 6px;
}

.apartmants .apartmants-container .best_apartmants .card .card_body .name_and_price .room_price {
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  line-height: 31px;
  float: right;
}

.apartmants .apartmants-container .best_apartmants .card .card_body .view_details {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #9B6333;
  text-decoration: none;
}

.apartmants .apartmants-container .best_apartmants .card .card_body .view_details img {
  margin-left: 18.6px;
}

.service {
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service img {
  display: inline-block;
  position: absolute;
  z-index: -1;
}

.service .service_background {
  width: calc( 100% - 620px);
  height: 355px;
}

.service .service_maid {
  height: 620px;
  width: 620px;
  right: 0;
}

.service .service_align {
  margin: 0 auto;
  width: 70%;
}

.service .service_align .about_us-container {
  color: #fff;
}

.service .service_align .about_us-container .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  margin-top: 44px;
  margin-bottom: 10px;
}

.service .service_align .about_us-container .podnaslov {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 30px;
}

.service .service_align .about_us-container .paragraph {
  width: 674px;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 31px;
}

.service .service_align .about_us-container .learn_more-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #9B6333;
  text-decoration: none;
}

.service .service_align .about_us-container .learn_more-link .learn_more-arrow {
  margin-left: 19px;
  margin-top: 5.6px;
}

.service .service_align .feature_cards {
  margin-top: 74px;
}

.service .service_align .feature_cards .card {
  width: 254px;
  min-height: 193px;
  display: inline-block;
  vertical-align: top;
  margin-right: 39px;
}

.service .service_align .feature_cards .card img {
  z-index: 1;
  position: relative;
}

.service .service_align .feature_cards .card .card_body {
  background: #F0ECE7;
  padding: 11px 14px 21px 15px;
  min-height: 135px;
  margin-top: 5px;
}

.service .service_align .feature_cards .card .card_body h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #383B37;
}

.service .service_align .feature_cards .card .card_body .line {
  width: 100px;
  height: 1px;
  background-color: #9B6333;
  margin-top: 6px;
  margin-bottom: 4px;
}

.service .service_align .feature_cards .card .card_body p {
  font-size: 16px;
  line-height: 23px;
  color: #383B37;
}

.news {
  width: 100%;
  height: auto;
  position: relative;
}

.news .news_align {
  margin: auto;
  width: 70%;
}

.news .news_align .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  color: #383B37;
  margin-bottom: 30px;
}

.news .news_align .slider {
  text-align: center;
  background-color: yellow;
  width: 100%;
  height: 502px;
  margin-bottom: 60px;
}

.news img {
  position: absolute;
  width: 940px;
  height: 450px;
  z-index: -1;
}

.news .booking {
  margin: auto;
  width: 70%;
  height: 450px;
}

.news .booking .card {
  width: 800px;
  height: 351px;
  float: right;
  background: #fff;
  margin-top: 49px;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  padding: 44px 60px;
}

.news .booking .card .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  color: #383B37;
  margin-bottom: 30px;
}

.news .booking .card .paragraph {
  font-size: 16px;
  line-height: 23px;
  color: #383B37;
  margin-bottom: 40px;
}

.news .booking .card .book_now {
  width: 178px;
  height: 59px;
  background: #9B6333;
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.news .booking .card .book_now:hover {
  cursor: pointer;
}

.reviews {
  margin: 60px auto;
  width: 70%;
}

.reviews .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  color: #383B37;
  margin-bottom: 36px;
}

.reviews .slider {
  height: 283px;
  background-color: yellow;
}

.footer {
  color: #fff;
  background: #272525;
}

.footer .footer-1 {
  height: 275px;
  width: 70%;
  margin: auto;
  padding: 48px 0 31px 0;
}

.footer .footer-1 .block-1,
.footer .footer-1 .block-2,
.footer .footer-1 .block-3,
.footer .footer-1 .block-4 {
  height: 196px;
  display: inline-block;
  vertical-align: top;
}

.footer .footer-1 .block-1,
.footer .footer-1 .block-2 {
  width: 30%;
}

.footer .footer-1 .block-1 h4 {
  font-family: Playfair Display;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.footer .footer-1 .block-1 p {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 67px;
  width: 198px;
}

.footer .footer-1 .block-1 .follow_us-container .follow_us {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  margin-right: 27px;
  margin-bottom: 0;
}

.footer .footer-1 .block-1 .follow_us-container .icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin-right: 15px;
}

.footer .footer-1 .block-2 .naslov {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
}

.footer .footer-1 .block-2 .city {
  font-size: 16px;
  line-height: 25px;
  color: #D0D0D0;
}

.footer .footer-1 .block-2 .address,
.footer .footer-1 .block-2 .opening {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.footer .footer-1 .block-2 .opening:not(:last-child) {
  margin-bottom: 10px;
}

.footer .footer-1 .block-3 {
  width: 25%;
}

.footer .footer-1 .block-3 .naslov {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 41px;
}

.footer .footer-1 .block-3 .number,
.footer .footer-1 .block-3 .email {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.footer .footer-1 .block-3 .email:not(:last-child) {
  margin-bottom: 35px;
}

.footer .footer-1 .block-4 {
  width: 15%;
}

.footer .footer-1 .block-4 .naslov {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 23px;
}

.footer .footer-1 .block-4 .input-email {
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #D0D0D0;
  width: 200px;
  background: none;
  border: none;
  border-bottom: 1px solid #C4C4C4;
  outline: 0;
  margin-bottom: 15px;
}

.footer .footer-1 .block-4 .subscribe {
  float: right;
  width: 123px;
  height: 30px;
  background: #383B37;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
  border-radius: 30px;
  border: none;
  outline: 0;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer .footer-1 .block-4 .subscribe:hover {
  cursor: pointer;
}

.footer .footer-2 {
  height: 45px;
  background: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-2 .footer-2_align {
  margin: auto;
  width: 70%;
}

.footer .footer-2 .footer-2_align p {
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 25px;
}

.footer .footer-2 .footer-2_align .footer-2_left {
  display: inline-block;
}

.footer .footer-2 .footer-2_align .footer-2_right {
  float: right;
}

.footer .footer-2 .footer-2_align .footer-2_right p {
  font-weight: bold;
  margin-left: 38px;
}

.footer .footer-2 .footer-2_align .footer-2_right p:last-child {
  font-weight: normal;
  color: #D0D0D0;
  margin-left: 44px;
}

/* ------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------ Druga stranica */

/* ------------------------------------------------------------------------------------------------------ */

.room {
  margin: auto;
  width: 70%;
}

.room .slider {
  height: 694px;
  margin-bottom: 17px;
  background-color: yellow;
}

.room .podnaslov {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.room .left {
  width: 60%;
  display: inline-block;
  padding-right: 5%;
}

.room .left .naslov {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  margin-top: 13px;
  margin-bottom: 27px;
}

.room .left .info {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room .left .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room .left .info div p {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
}

.room .left .info div img {
  height: 48px;
  margin-right: 35px;
}

.room .left .description,
.room .left .services p,
.room .left .hotel_rules p {
  font-size: 16px;
  line-height: 23px;
}

.room .left .description {
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  padding: 30px 0;
}

.room .left .services-podnaslov,
.room .left .hotel_rules-podnaslov {
  margin-top: 30px;
  margin-bottom: 15px;
}

.room .left .services {
  border: 1px solid #C4C4C4;
  padding: 26px 0 26px 50px;
}

.room .left .row-1,
.room .left .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.room .left .row-1 p,
.room .left .row-2 p {
  width: 25%;
}

.room .left .row-1 p i,
.room .left .row-2 p i {
  margin-right: 13px;
}

.room .left .row-1 {
  margin-bottom: 30px;
}

.room .right {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.room .right .booking-container {
  min-width: 437px;
  min-height: 447px;
  background: #F0ECE7;
  padding: 30px 27px;
}

.room .right .booking-container .booking {
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
}

.room .right .booking-container .price {
  font-weight: bold;
  font-size: 30px;
  line-height: 31px;
  color: #9B6333;
  margin: 10px 0 20px 6px;
}

.room .right .booking-container .podnaslov {
  margin-bottom: 10px;
}

.room .right .booking-container .date-container,
.room .right .booking-container .date-container-2 {
  display: inline-block;
  margin-bottom: 26px;
}

.room .right .booking-container .date-container .input-icon,
.room .right .booking-container .date-container-2 .input-icon {
  width: 48px;
  height: 40px;
  background: #F0F0F0;
  border: 1px solid #D0D0D0;
  border-radius: 4px 0px 0px 4px;
  display: inline-block;
  padding: 10px 14px;
  vertical-align: top;
}

.room .right .booking-container .date-container .input-icon img,
.room .right .booking-container .date-container-2 .input-icon img {
  width: 18px;
  height: 18px;
}

.room .right .booking-container .date-container .input-icon-adults,
.room .right .booking-container .date-container .input-icon-children,
.room .right .booking-container .date-container-2 .input-icon-adults,
.room .right .booking-container .date-container-2 .input-icon-children {
  padding: 8px 14px;
}

.room .right .booking-container .date-container .input-icon-adults img,
.room .right .booking-container .date-container .input-icon-children img,
.room .right .booking-container .date-container-2 .input-icon-adults img,
.room .right .booking-container .date-container-2 .input-icon-children img {
  width: 18px;
  height: 23px;
}

.room .right .booking-container .date-container input,
.room .right .booking-container .date-container-2 input {
  width: 160px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-left: 0;
  border-radius: 0px 4px 4px 0px;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  color: #4E4C4D;
}

.room .right .booking-container .date-container-2 {
  float: right;
}

.room .right .booking-container .check {
  margin-top: 23px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.room .right .booking-container .check button {
  width: 275px;
  height: 59px;
  background: #9B6333;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.room .right .booking-container .check button:hover {
  cursor: pointer;
}

.room .right .naslov {
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.room .right .other_rooms {
  height: 196px;
  background-color: red;
}

.room .comments .naslov {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #383B37;
  margin-top: 10px;
  margin-bottom: 15px;
}

.room .comments .actual_comments {
  height: 443px;
  width: 70%;
  margin-bottom: 30px;
}

.room .comments .actual_comments .comment_container .comment_creator {
  height: 80px;
}

.room .comments .actual_comments .comment_container .comment_creator img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  margin-right: 10px;
}

.room .comments .actual_comments .comment_container .comment_creator .comment_creator-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.room .comments .actual_comments .comment_container .comment_creator .comment_creator-info .name {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #383B37;
}

.room .comments .actual_comments .comment_container .comment_creator .comment_creator-info .date {
  font-size: 16px;
  line-height: 23px;
  color: #B2B2B2;
}

.room .comments .actual_comments .comment_container .comment_creator .comment_reply {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  float: right;
}

.room .comments .actual_comments .comment_container .comment_creator .comment_reply img {
  width: 18px;
  height: 15px;
  display: inline-block;
  margin-right: 8px;
}

.room .comments .actual_comments .comment_container .comment_creator .comment_reply p {
  display: inline-block;
  font-family: Lato;
  font-size: 16px;
  line-height: 23px;
  color: #383B37;
}

.room .comments .actual_comments .comment_container .commment_text-replyed_comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.room .comments .actual_comments .comment_container .commment_text-replyed_comments .comment_text {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.room .comments .actual_comments .comment_container .commment_text-replyed_comments .comment_text p {
  font-size: 16px;
  line-height: 23px;
  color: #383B37;
}

.room .comments .actual_comments .comment_container .commment_text-replyed_comments .replyed_comments {
  width: 80%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

.room .comments .input-name,
.room .comments .input-email {
  display: inline-block;
  width: 45%;
  margin-bottom: 10px;
}

.room .comments .input-name input,
.room .comments .input-email input {
  width: 100%;
  height: 50px;
  border: 1px solid #CCCCCC;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  font-family: Lato;
  font-size: 16px;
  line-height: 23px;
  color: #383B37;
  padding-left: 20px;
}

.room .comments .input-name p,
.room .comments .input-email p {
  padding-left: 20px;
  margin-bottom: 5px;
  font-family: Lato;
  font-size: 16px;
  line-height: 23px;
  color: #383B37;
}

.room .comments .input-email {
  float: right;
}

.room .comments .input-comment p {
  padding-left: 20px;
  margin-bottom: 5px;
  width: 100%;
}

.room .comments .input-comment p,
.room .comments .input-comment span {
  font-family: Lato;
  font-size: 16px;
  line-height: 23px;
  color: #383B37;
}

.room .comments .input-comment span {
  float: right;
}

.room .comments textarea {
  width: 100%;
  height: 150px;
  resize: none;
  border: 1px solid #CCCCCC;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
  padding: 15px 20px;
  font-family: Lato;
  font-size: 16px;
  line-height: 23px;
  color: #383B37;
}

.room .comments .remember_me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.room .comments .remember_me-container input {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.room .comments .remember_me-container .remember_me {
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

.room .comments button {
  width: 167px;
  height: 59px;
  background: #383B37;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
  border-radius: 30px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.room .comments button:hover {
  cursor: pointer;
}

