{% extends 'main_layout.html.twig' %}

{% block header %}
    <div>
        <nav>
            <p>bla</p>
        </nav>

        <nav>
            <p>bla</p>
        </nav>
    </div>
    <h1>Radi!!</h1>
    <h1>Radi!!</h1>
    <h1>Radi!!</h1>
{% endblock %}