{% extends 'main_layout.html.twig' %}

{% block header %}
    <div>
        <nav class="navigation-1">
            <div class="navigation-1_align">
                <div class="navigation-1_left">
                    <img class="location_image" src="images/location.png" alt="">
                    Location
                    <img class="mail_image" src="images/mail.png" alt="">
                    Mail us
                    <img class="key_image" src="images/key.png" alt="">
                    Login
                </div>

                <div class="navigation-1_right">
                    <img class="search_image" src="images/search.png" alt="">
                    <span>DE</span><span>EN</span>
                </div>
            </div>
        </nav>

        <nav class="navigation-2">
            <div class="navigation-2_align">
                <div class="navigation-2_left">
                    <h3>Hotel</h3>
                </div>

                <div class="navigation-2_middle">
                    <ul>
                        <li>
                            <a>Home</a>
                        </li>
                        <li>
                            <a>About</a>
                        </li>
                        <li>
                            <a>Rooms</a>
                        </li>
                        <li>
                            <a>Services</a>
                        </li>
                        <li>
                            <a>Blog</a>
                        </li>
                        <li>
                            <a>Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="navigation-2_right">
                    
                </div>
                
            </div>
        </nav>
    </div>
{% endblock %}

{% block section_one %}
    <div class="section_one">
        <img class="pozadina" src="images/pozadina.png" alt="">
        <div class="section_one-container">
            <h3 class="naslov">Feel like home, but better.</h3>
            <p class="podnaslov">World-famous. Deeply relaxing.</p>
            <button class="learn_more">Learn more</button>

            <div class="follow_us-container">
                <p class="follow_us">Follow us</p>
                <img class="icon" src="images/facebook.png" alt="">
                <img class="icon" src="images/instagram.png" alt="">
            </div>

            <div class="section_one-slider">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block section_two %}
    <div class="section_two">
        <div class="section_two-container">
            <h3 class="naslov">Comfort & Design to relax in Luxury Hotel</h3>
            <p class="podnaslov">Every day is a new day for relaxation.</p>
            <button class="about_us">About us</button>

            <div class="comment-container">
                <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida metus quis varius. Nullam sit amet fringilla velit, non pretium nibh. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque.</p>
                <p class="comment_creator">John Johnson</p>
                <p class="comment">General manager</p>
            </div>

            <h3 class="naslov">Best Apartments</h3>
        </div>
    </div>
{% endblock %}


