{% extends 'main_layout.html.twig' %}

{% block header %}
    <div>
        <nav class="navigation-1">
            <div class="navigation-1_align">
                <div class="navigation-1_left">
                    <img class="location_image" src="images/location.png" alt="">
                    Location
                    <img class="mail_image" src="images/mail.png" alt="">
                    Mail us
                    <img class="key_image" src="images/key.png" alt="">
                    Login
                </div>

                <div class="navigation-1_right">
                    <img class="search_image" src="images/search.png" alt="">
                    <span>DE</span><span>EN</span>
                </div>
            </div>
        </nav>

        <nav class="navigation-2">
            <div class="navigation-2_align">
                <div class="navigation-2_left">
                    <h3>Hotel</h3>
                </div>

                <div class="navigation-2_middle">
                    <ul>
                        <li>
                            <a>Home</a>
                        </li>
                        <li>
                            <a>About</a>
                        </li>
                        <li>
                            <a>Rooms</a>
                        </li>
                        <li>
                            <a>Services</a>
                        </li>
                        <li>
                            <a>Blog</a>
                        </li>
                        <li>
                            <a>Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="navigation-2_right">
                    
                </div>
                
            </div>
        </nav>
    </div>
{% endblock %}

{% block home %}
    <div class="home">
        <img class="pozadina" src="images/pozadina.png" alt="">
        <div class="home-container">
            <h3 class="naslov">Feel like home, but better.</h3>
            <p class="podnaslov">World-famous. Deeply relaxing.</p>
            <button class="learn_more">Learn more</button>

            <div class="follow_us-container">
                <p class="follow_us">Follow us</p>
                <img class="icon" src="images/facebook.png" alt="">
                <img class="icon" src="images/instagram.png" alt="">
            </div>

            <div class="home-slider">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block apartmants %}
    <div class="apartmants">
        <div class="apartmants-container">
            <div class="about_us-container">
                <h3 class="naslov">Comfort & Design to relax in Luxury Hotel</h3>
                <p class="podnaslov">Every day is a new day for relaxation.</p>
                <button class="about_us">About us</button>
            </div><div class="comment-container">
                <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida metus quis varius. Nullam sit amet fringilla velit, non pretium nibh. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque.</p>
                <p class="comment_creator">John Johnson</p>
                <p class="comment_creator-title">General manager</p>
            </div>

            <h3 class="naslov">Best Apartments</h3>

            <div class="best_apartmants">
            
            </div>
        </div>
    </div>
{% endblock %}

{% block service %}
    <div class="service">
        <img class="service_background" src="images/pozadina_2.png" alt=""></img>
        <img class="service_maid" src="images/pozadina_3.png" alt=""></img>

        <div class="service_align">
            <div class="about_us-container">
                <h3 class="naslov">Excellent service</h3>
                <p class="podnaslov">Every day is a new day for relaxation.</p>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida metus quis varius. Nullam sit amet fringilla velit, non pretium nibh. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque.</p>
                <a href="#" class="learn_more-link">Learn more<img class="learn_more-arrow" src="images/learn_more-arrow.png"></img></a>
            </div>

            <div class="feature_cards">
                <div class="card">
                    <img src="images/services-1.png" alt=""></img>
                    <div class="card_body">
                        <h4>Orthopedic beds</h4>
                        <div class="line"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ispum.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="images/services-2.png" alt=""></img>
                    <div class="card_body">
                        <h4>Extraordinary cousine</h4>
                        <div class="line"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="images/services-3.png" alt=""></img>
                    <div class="card_body">
                        <h4>Custom coffee</h4>
                        <div class="line"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block news %}
    <div class="news"></div>
{% endblock %}

{% block reviews %}
    <div class="reviews"></div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="footer-1">
        
        </div>
        <div class="footer-2">
            <div class="footer-2_align">
                <div class="footer-2_left">
                    <p>@2020, Frontend akademija</p>
                </div>

                <div class="footer-2_right">
                    <p>Privacy Policy</p>
                    <p>Site map</p>
                    <p>All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}